<!doctype html>
<html>
    <meta charset="utf-8">
    <title>portfolio</title>
    <link rel="stylesheet" href="file:///D:/cours/SAE14/style_index.css">
    <body>
        <ul>
            <li><a href="html/administer.html.twig">Administer</a></li>
            <li><a href="html/connecter.html.twig">Connecter</a></li>
            <li><a href="html/programmer.html.twig">Programmer</a></li>
         </ul>
    </body>
</html>