<!doctype html>
<html>
    <meta charset="utf-8">
    <title>programmer</title>
    <link rel="stylesheet" href="CSS/style_index.css">
    <body>
        <ul>
            <li><a href="#">C3,AC1</a></li>
            <li><a href="#">C3,AC2</a></li>
            <li><a href="#">C3,AC3</a></li>
            <li><a href="#">C3,AC4</a></li>
         </ul>
    </body>
</html>