body
{
    padding: 0;
    margin: 0;
    background: #252525;
    font-family: sans-serif;
}
h1
{
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    margin-top: 50px;
}
.profiltext
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: rgba(255,255,255,0.2);
}
.profiltext .imgBx
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profiltext .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profiltext h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profiltext h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}
.contactinfo
{
    padding-top: 40px;
}
.title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactinfo u1
{
    position: relative;
}
.contactinfo u1 li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactinfo u1 li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}
.contactinfo u1 li span
{
    color: #fff;
    font-weight: 300;
}
.contactinfo.education li
{
    margin-bottom: 15px;
}
.contactinfo.education h5
{
    color: #03a9f4;
    font-style: 500;
}
.contactinfo.education h4:nth-child(2)
{
    color: #fff;
    font-weight: 500;
}
.contactinfo.education h4
{
    color: #fff;
    font-weight: 300;
}
.contactinfo.language .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.contactinfo.language .percent div
{
   position: absolute;
   top: 0;
   left: 0;
    height: 100%;
    background: #ff7f00;
}
p
{
    color: rgb(153, 153, 153);
}
.title2
{
    display: flex;
}