<html>
    <head>
        <meta charset="utf-8">
        <title>acceuil</title>
        <link rel="stylesheet" href="CSS/CSS_button.css">
        <link rel="icon" href="Controller/BlogController.php">
        <style>
            body
            {
                background-color: 252525;
                font-family: sans-serif;
                color: #fff;
                font-size: 18px;
            }
            .title2
            {
                display: flex;
            }
            h2
            {
                color: #ff7f00;
            }
        </style>
    </head>
    <body>
        <h2>personal information</h2>
        <p>first name:Nathan<br>
        Name:COURTY<br>
        university email address: nathan.courty@etu.univ-st-etienne.fr</p>
        <h2>presentation</h2>
        <p>I am currently in BUT (university bachelors of technology) in the network and telecommunications department<br>
            I joined this training because in high school, I loved working on electricity laws and telecommunications which is an essential part of the B.U.T<br>
            and I also worked on networks in the Engineering Science specialty<br>
            I am doing this GOAL with a view to entering an engineering school afterwards, and doing this course on a work-study basis, that's why I chose to do a GOAL and not a preparatory class for the Grandes Ecoles
            <br>I also chose this training instead of the preparatory class because I preferred to do the B.U.T program, more focused on the proffessional than the general</p> 
        <a href="https://www.linkedin.com/onboarding/start/member-to-member-invitations/new/?abookImportTaskHandle=ONLINE-34974e2e-f5a0-4ef8-af6f-ed04aed812d5&abookTransactionId=St2bM6YsRvSGDFyuyOnjkg%3D%3D">my linkdin</a>
        <a href="loisir.html.twig">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            find out more
        </a>

        
        <h5 class="title2">© nathan courty</h5>
    </body>
</html>