<html>
    <head>
        <meta charset="utf-8">
        <title>acceuil</title>
        <link rel="stylesheet" href="CSS/style_index.css">
        <link rel="icon" href="Controller/BlogController.php">
        <style>
            body
            {
                background-color: 252525;
                font-family: sans-serif;
                color: #fff;
                font-size: 18px;
            }
        </style>
    </head>
    <body>
        <h2>information personnelle</h2>
        <p>Prénom:Nathan<br>
        Nom:COURTY<br>
        adresse universitaire: nathan.courty@etu.univ-st-etienne.fr</p>
        <h2>présentation</h2>
        <p>Je suis actuellement en BUT(bachelors universitaire de technologie) dans le departement réseaux et télécommunication<br>
        J'ai intégré cette formation car au lycée, j'ai adoré travaillé sur l'écricité et et les télécommunication qui est une partie essentiel du BUT<br>
        et j'ai aussi travaillé le réseaux dans la spécialité Science de l'ingénieur<br>
        Je fais ce BUT en vue d'intégré une école d'ingénieur après, et faire ce cursus en alternance, c'est pour cela que j'ai choisi de faire un BUT et non une classe préparatoire aux grandes écoles 
        <br>J'ai aussi choisi cette formation a la place de la classe préparatoire car je préférais faire le programme du BUT, plus axé sur le proffessionel que le général </p> 
        <h2>mes réseaux</h2>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Button
        </a>

        
        
    </body>