<!doctype html>
<html>
    <meta charset="utf-8">
    <title>Administer</title>
    <link rel="stylesheet" href="CSS/style_index.css">
    <link rel="icon" href="Controller/BlogController.php">
    <body>
        <ul>
            <li><a href="#">C1,AC1</a></li>
            <li><a href="#">C1,AC2</a></li>
            <li><a href="#">C1,AC3</a></li>
            <li><a href="#">C1,AC4</a></li>
            <li><a href="#">C1,AC5</a></li>
            <li><a href="#">C1,AC6</a></li>
         </ul>
    </body>
</html>