<!doctype html>
<html>
    <meta charset="utf-8">
    <title>Administer</title>
    <link rel="stylesheet" href="CSS/style_portfolio.css">
    <body>
        <h1>Portfolio: compétence administer</h1>
        <div class="contactinfo language">
            <h3 class="langue"></h3>
            <u1>
                <li>
                    <span class="text">Maîtriser les lois fondamentales de l’électricité afin d’intervenir sur des équipements de réseaux et télécommunications</span>
                    <span class="percent">
                        <div style="width: 90%;"></div>
                        <br>
                        <p>
                            Lors de ma formation, comprendre et utiliser les lois d'électricipé ont été simple pour moi, vu que je les aviaent déjà utiliser lors de mes années de lycée, donc je pense avoir maîtriser cet apprentissage
                        </p>
                    </span>
                </li>
            </u1>
            <br><br><br>
            <u1>
                <li>
                    <span class="text">Comprendre les principes et standards du codage de l’information</span>
                    <span class="percent">
                        <div style="width: 84%;"></div>
                        <br>
                        <p>
                            Au cours de ma formation, dans beaucoup de ressource j'ai du faire du codage, notament pour des micro-controleur avec la carte arduino uno, au debut de la formation j'ai eu beaucoup de mal mal mais au fur et a mesure du temps, je comprennais et maîtrisais de mieux en mieux cet apprentissage
                        </p>
                    </span>
                </li>
            </u1>
            <br><br><br>
            <u1>
                <li>
                    <span class="text">Configurer les fonctions de base du réseau local</span>
                    <span class="percent">
                        <div style="width: 64%;"></div>
                        <br>
                        <p>
                            dans cet apprentissage j'ai eu beaucoup de mal au debut, mais avec l'aide des proffesseur et des tp ou td, j'ai su m'aameoliorer pour mieux comprendre cet apprentissage 
                        </p>
                    </span>
                </li>
            </u1>
            <br><br><br>
            <u1>
                <li>
                    <span class="text">Maîtriser les rôles et les principes fondamentaux des systèmes d’exploitation afin d’interagir avec ceux-ci pour la configuration etadministration des réseaux et services fournis</span>
                    <span class="percent">
                        <div style="width: 72%"></div>
                        <br>
                        <p>
                            dans des parties de cet apprentissage j'ai quelques difficulté et dans une autres partie, je maîtrise plutot cet apprentissage, donc j'ai de solide base mais encore des difficultépour certaines chose
                        </p>
                    </span>
                </li>
            </u1>
            <br><br><br>
            <u1>
                <li>
                    <span class="text">Savoir identifier les dysfonctionnements du réseau local</span>
                    <span class="percent">
                        <div style="width: 61%;"></div>
                        <br>
                        <p>
                            je n'avais travaillé cet apprentissage avant de commncé mon BUT, alors j'ai eu du mal au debut, mais après des efforts et du travail je comprends mieux 
                        </p>
                    </span>
                </li>
            </u1>
            <br><br><br>
            <u1>
                <li>
                    <span class="text">Installer un poste client</span>
                    <span class="percent">
                        <div style="width: 77%;"></div>
                        <br>
                        <p>
                            je n'ai ai pas eu trop de mal a installé un poste client, mais la difficulté pour moi a été de fair eles modification seul afin de modifier les permissions 
                        </p>
                    </span>
                </li>
            </u1>
        </div>
    </body>
</html>