<!doctype html>
<html>
    <meta charset="utf-8">
    <title>Connecter</title>
    <link rel="stylesheet" href="CSS/style_portfolio.css">
    <body>
        <h1>Portfolio: compétence connecter</h1>
        <div class="contactinfo language">
            <h3 class="langue"></h3>
            <u1>
                <li>
                    <span class="text">Mesurer et analyser les signaux</span>
                    <span class="percent">
                        <div style="width: 80%;"></div>
                        <br>
                        <p>
                            j'ai eu l'occasion de travailler avec un osciloscope lors du lycée, alors j'avais déjà des bases que j'ai consolidé lors du BUT
                        </p>
                    </span>
                </li>
            </u1>
            <br><br><br>
            <u1>
                <li>
                    <span class="text">Caractériser des systèmes de transmissions élémentaires et découvrir la modélisation mathématique de leur fonctionnement</span>
                    <span class="percent">
                        <div style="width: 62%;"></div>
                        <br>
                        <p>
                            lorsque que l'on a commencé a travaillé sur cet apprentissaeg, je l'ai trouvé compliqué a comprendre, mais finalement je comprends mieux et maîtrise mieux cet apprentissage  
                        </p>
                    </span>
                </li>
            </u1>
            <br><br><br>
            <u1>
                <li>
                    <span class="text">Déployer des supports de transmission</span>
                    <span class="percent">
                        <div style="width: 88%;"></div>
                        <br>
                        <p>
                            pour faire des cablages j'avais déjà eu l'occasion d'en faire avant, puis j'ai des facilité pour en faire, alors lors des td ou tp j'ai toujours eu de facilité a les faire
                        </p>
                    </span>
                </li>
            </u1>
        </div>
    </body>
</html>