<!doctype html>
<html>
    <meta charset="utf-8">
    <title>index-sae14</title>
    <link rel="stylesheet" href="CSS/style_index.css">
    <link rel="icon" href="SAE14/src/Controller/BlogController.php">
    <body>
        <ul>
            <li><a href="html/accueil.html.twig">Accueil</a></li>
            <li><a href="#">CV</a></li>
            <li><a href="html/portfolio.html.twig">portfolio</a></li>
            <li><a href="#">Formulaire</a></li>
         </ul>
    </body>
</html>