<html>
    <head>
        <title>en savoir plus </title>
        <link rel="stylesheet" href="CSS/style-loisir.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    </head>
    <style>
.contrainer .box:nth-child(1) .icon
{
    background: url('image/foot.image.jpg');
}
.contrainer .box:nth-child(1)
{
    background: url('image/ski-image.jpg');
}
.contrainer .box:nth-child(2) .icon
{
    background: url('image/image_gaming.jpg');
}
.contrainer .box:nth-child(2)
{
    background: url('image/netflix-image.jpg');
}
.contrainer .box:nth-child(3) .icon
{
    background: url('image/image1-cuisine.jpg');
}
.contrainer .box:nth-child(3)
{
    background: url('image/image2-cuisine.jpg');
}
    </style>
    <body>
        <h1>MY HOBBIES</h1>
            <div class="contrainer">
                <div class="box">
                    <div class="icon">   
                    </div>
                    <div class="content">
                        <h3>the sport</h3>
                        <p>
                            since I was at school, my parents have always enrolled me in sports clubs, there was football, handball, rugby, tennis, then as a leisure sport I love skiing
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                    </div>
                    <div class="content">
                        <h3>multimedia</h3>
                        <p>
                            I have been passionate about cinema and series for a very long time, so I love watching them, but I also like playing video games.
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                    </div>
                    <div class="content">
                        <h3>the cooking</h3>
                        <p>
                            since I'm in B.U.T, I live alone, so I learned to cook, and I like to prepare good meals
                        </p>
                    </div>
                </div>
            </div>
            <h5 class="title2">© nathan courty</h5>
    </body>
</html>