<html>
    <head>
        <meta charset="utf-8">
        <title>loisir</title>
        <link rel="icon" href="Controller/BlogController.php">
    </head>
    <body>
        <a> ici il y aura le formulaire . </a>
    </body>
</html>