<html>
    <head>
        <title>en savoir plus </title>
        <link rel="stylesheet" href="file:///D:/cours/SAE14/style_en-savoir-plus.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    </head>
    <body>
        <h1>MES LOISIR</h1>
            <div class="contrainer">
                <div class="box">
                    <div class="icon">   
                    </div>
                    <div class="content">
                        <h3>Le sport</h3>
                        <p>
                            et je m'explique 
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                    </div>
                    <div class="content">
                        <h3>Le multimédia</h3>
                        <p>
                            et je m'explique 
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                    </div>
                    <div class="content">
                        <h3>la cuisine</h3>
                        <p>
                            et je m'explique 
                        </p>
                    </div>
                </div>
            </div>
    </body>
</html>