<!doctype html>
<html>
    <meta charset="utf-8">
    <title>portfolio</title>
    <link rel="stylesheet" href="CSS/style_index.css">
    <link rel="icon" href="Controller/BlogController.php">
    <body>
        <ul>
            <li><a href="administer.html.twig">Administer</a></li>
            <li><a href="connecter.html.twig">Connecter</a></li>
            <li><a href="programmer.html.twig">Programmer</a></li>
         </ul>
    </body>
</html>