<!doctype html>
<html>
    <meta charset="utf-8">
    <title>programmer</title>
    <link rel="stylesheet" href="CSS/style_portfolio.css">
    <body>
        <h1>Portfolio: compétence programmer</h1>
        <div class="contactinfo language">
            <h3 class="langue"></h3>
            <u1>
                <li>
                    <span class="text">Utiliser un système informatique et ses outils</span>
                    <span class="percent">
                        <div style="width: 86%;"></div>
                        <br>
                        <p>
                            
                        </p>
                    </span>
                </li>
            </u1>
            <br><br><br>
            <u1>
                <li>
                    <span class="text">Lire, exécuter, corriger et modifier un programme</span>
                    <span class="percent">
                        <div style="width: 77%"></div>
                        <br>
                        <p>
                            
                        </p>
                    </span>
                </li>
            </u1>
            <br><br><br>
            <u1>
                <li>
                    <span class="text">Traduire un algorithme, dans un langage et pour un environnement donné</span>
                    <span class="percent">
                        <div style="width: 81%"></div>
                    </span>
                </li>
            </u1>
            <u1>
                <li>
                    <span class="text">Connaître l’architecture et les technologies d’un site Web</span>
                    <span class="percent">
                        <div style="width: 72%"></div>
                    </span>
                </li>
            </u1>
            <u1>
                <li>
                    <span class="text">S’intégrer dans un environnement propice au développement et au travail collaboratif</span>
                    <span class="percent">
                        <div style="width: 76%;"></div>
                    </span>
                </li>
            </u1>
        </div>
    </body>
</html>