<!doctype html>
<html>
    <meta charset="utf-8">
    <title>programmer</title>
    <link rel="stylesheet" href="CSS/style_portfolio.css">
    <body>
        <h1>Portfolio: compétence programmer</h1>
        <div class="contactinfo language">
            <h3 class="langue"></h3>
            <u1>
                <li>
                    <span class="text">Utiliser un système informatique et ses outils</span>
                    <span class="percent">
                        <div style="width: 86%;"></div>
                        <br>
                        <p>
                            j'ai deja eu l'occasion de faire du codage lors de mes années lycée donc pour cet apprentissage j'ai eru des facilité a la maîtriser 
                        </p>
                    </span>
                </li>
            </u1>
            <br><br><br>
            <u1>
                <li>
                    <span class="text">Lire, exécuter, corriger et modifier un programme</span>
                    <span class="percent">
                        <div style="width: 77%"></div>
                        <br>
                        <p>
                            lors du debut de mon B.U.T j'ai eu du mal a faire des algorythme complexe et complets, mais tout les tp je maîtrise meiux les algorythme
                        </p>
                    </span>
                </li>
            </u1>
            <br><br><br>
            <u1>
                <li>
                    <span class="text">Traduire un algorithme, dans un langage et pour un environnement donné</span>
                    <span class="percent">
                        <div style="width: 81%"></div>
                        <br>
                        <p>
                            quand un algorithme nous étais donné j'avais du mal a le comprendre, mais après du travaille je les comprends et le maitrise afin d'en fire un code en langage C
                        </p>
                    </span>
                </li>
            </u1>
            <br><br><br>
            <u1>
                <li>
                    <span class="text">Connaître l’architecture et les technologies d’un site Web</span>
                    <span class="percent">
                        <div style="width: 72%"></div>
                        <br>
                        <p>
                            je n'avais jamis fait d'HTML auparavant donc je n'est pas du réussi, mais comme vous pouvez le voir avec ce site je me suis netement améliorer afin de aquérir cet apprentissage 
                        </p>
                    </span>
                </li>
            </u1>
            <br><br><br>
            <u1>
                <li>
                    <span class="text">S’intégrer dans un environnement propice au développement et au travail collaboratif</span>
                    <span class="percent">
                        <div style="width: 76%"></div>
                        <br>
                        <p>
                            du au fait que j'avais du mal a faire des algorithme correct, j'ai eu du mal a travaillé en équipe, pour répartir les taches sur un projet de codage 
                        </p>
                    </span>
                </li>
            </u1>
        </div>
    </body>
</html>